{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}服务器表{% endblock %}

{% block css %}

<!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        服务器表
        <small>Server Assets List</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">服务器表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">服务器表<small>(Server)</small></h3>
        </div>
        <div class="box-header">
          <h3 class="box-title">服务器表<small>(Server)</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="assets_table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                  <th>资产编码</th>
                  <th>类型</th>
                  <th>名称</th>
                  <th>管理IP</th>
                  <th>型号</th>
                  <th>操作系统及版本</th>
                  <th>所属机房</th>
                  <th>管理者</th>
                  <th>修改时间</th>
                  <th>操作</th>
                </tr>
            </thead>
            <tbody>

                {% for server in server_list %}
                    <tr>
                        <td>{{ server.asset.asset_code }}</td>
                        <td>{{ server.get_sub_asset_type_display }}</td>
                        <td><a href="../server_asset/{{ server.id }}">{{ server.asset.name }}</a></td>
                        <td>{{ server.asset.manage_ip }}</td>
                        <td>{{ server.model }}</td>
                        <td>{{ server.os_release }}-{{ server.os_distribution }}</td>
                        <td>{{ server.asset.idc.name }}</td>
                        <td>{{ server.asset.admin.username }}</td>
                        <td>{{ server.asset.m_time }}</td>
                        <td>删除  编辑</td>
                    </tr>
                {% empty %}
                  <tr>没有数据！</tr>
                {% endfor %}

            </tbody>
            <tfoot>
            <tr>
              <th>资产编码</th>
              <th>类型</th>
              <th>名称</th>
              <th>管理IP</th>
              <th>型号</th>
              <th>操作系统及版本</th>
              <th>所属机房</th>
              <th>管理者</th>
              <th>修改时间</th>
              <th>操作</th>
            </tr>
            </tfoot>
          </table>
        </div>


      <div>
          <br><br>
          请下载客户端采集脚本：<br><br>
          <a href="/static/upload/client.rar" class="btn btn-primary btn-lg active" role="button">客户端采集脚本</a>
          <br><br>
          使用方法：<br>
          下载压缩包，解压，直接运行：<br>
          python main.py report_data

          <br><br>
          Windows系统需要安装Python环境，可以去 <a href="https://www.python.org/downloads/" target="_blank">官网</a> 下载对应的版本，或者直接下载资源站上面的安装包：
          <br>
          <a href="http://122.11.59.131/o/s/py/" target="_blank">http://122.11.59.131/o/s/py/</a>

          <br><br>
          python环境的安装可以参考博客：
          <br>
          <a href="https://www.cnblogs.com/duoyi/articles/7904634.html" target="_blank">https://www.cnblogs.com/duoyi/articles/7904634.html</a>
          <br>
          安装的时候记得：1. 一定要选中 “Add Python 3.6 to PATH” 的复选框，可以自动将 python 安装目录添加到系统的环境变量；2. 选中 "pip" 前面的复选框，安装过程会顺便把 pip 模块也装上，免得我们自己手动去安装。

          <br><br>
          然后安装 wmi，pypiwin32 两个模块，打开 cmd 命令窗口，执行下面的命令：
          <br>
          pip install wmi
          <br>
          pip install pypiwin32

      </div>



        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>
      $(function () {
        $('#assets_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });
    </script>
{% endblock %}