{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}服务器表{% endblock %}

{% block css %}

<!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        服务器表
        <small>Server Assets List</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">服务器表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">服务器表<small>(Server)</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="assets_table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                  <th>资产编码</th>
                  <th>类型</th>
                  <th>名称</th>
                  <th>管理IP</th>
                  <th>型号</th>
                  <th>操作系统及版本</th>
                  <th>所属机房</th>
                  <th>管理者</th>
                  <th>修改时间</th>
                  <th>操作</th>
                </tr>
            </thead>
            <tbody>

                {% for server in server_list %}
                    <tr>
                        <td>{{ server.asset.asset_code }}</td>
                        <td>{{ server.get_sub_asset_type_display }}</td>
                        <td>{{ server.asset.name }}</td>
                        <td>{{ server.asset.manage_ip }}</td>
                        <td>{{ server.model }}</td>
                        <td>{{ server.os_release }}-{{ server.os_distribution }}</td>
                        <td>{{ server.asset.idc.name }}</td>
                        <td>{{ server.asset.admin.username }}</td>
                        <td>{{ server.asset.m_time }}</td>
                        <td>删除  编辑</td>
                    </tr>
                {% empty %}
                  <tr>没有数据！</tr>
                {% endfor %}

            </tbody>
            <tfoot>
            <tr>
              <th>资产编码</th>
              <th>类型</th>
              <th>名称</th>
              <th>管理IP</th>
              <th>型号</th>
              <th>操作系统及版本</th>
              <th>所属机房</th>
              <th>管理者</th>
              <th>修改时间</th>
              <th>操作</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>
      $(function () {
        $('#assets_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });
    </script>
{% endblock %}